@model UserViewModel;

@using(@Html.BeginForm(FormMethod.Post)){
    <h1>Add New User: </h1>

    <p>
        @Html.NameFor(user => user.Name): 
        @Html.TextBoxFor(user => user.Name)
    </p>
    <p>
        @Html.NameFor(user => user.Sex): 
        @Html.DropDownListFor(user => user.Sex, Html.GetEnumSelectList<UserSex>())
    </p>
    <p>
        @Html.NameFor(user => user.Country): 
        @Html.DropDownListFor(user => user.Country, new SelectList(new List<string>{ "Беларусь", "Польша", "Украина" }))
    </p>
    <p>
        @Html.NameFor(user => user.IsMarried): 
        @Html.CheckBoxFor(user => user.IsMarried)
    </p>

    <button type="submit">Add User</button>
}

@await Html.PartialAsync("_GoBack")